body{
    font-family: RobotoRegular;
}
header.headerPage {
    position: relative;
     overflow: hidden;
}

.headerPage figure.back{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
}

.headerPage figure.back img{
    display: block;
    width: 100%;
    opacity: 1;
}

.si-icon {
    position: fixed;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 40px 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99999;
    right: 10%;
}
.si-icon span{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #3c3c3c;
    opacity: 0.6;
    z-index: -1;

}
.no-svg .si-icon-hamburger-cross {
    background-image: url('/img/png/hamburger1.png')
}
.navPage{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease 0s;

}
.itemPage{
    padding: 0;
    text-align: center;
    margin-top: 15%;
    list-style: none;
}


.itemPage li{
    opacity: 0;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,100%,0);
    margin-bottom: 10px;
}
.navPage .itemPage li:nth-child(1){
    transition-delay: 0.15s;
}
.navPage .itemPage li:nth-child(2){
    transition-delay: 0.1s;
}
.navPage .itemPage li:nth-child(3){
    transition-delay: 0.05s;
}



.navPage.active .itemPage li:nth-child(1){
    transition-delay: 0.1s;
}
.navPage.active .itemPage li:nth-child(2){
    transition-delay: 0.2s;
}
.navPage.active .itemPage li:nth-child(3){
    transition-delay: 0.3s;
}
.navPage.active .itemPage li{
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease 0s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.navPage.active .itemPage li span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#0f0f0f;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}
.navPage.active .itemPage li:hover span{
    opacity: 0.6;
}

.itemPage a{
    color: #CCE361;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;

}
.coverNavPage{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: #3c3c3c ;
    opacity: 0.8;
    z-index: -1;
    top: 0;
}

.active{

    pointer-events: auto;
    opacity: 1;
}

.mainButton{
    position: absolute;

    left: 50%;
    bottom: 15%;
    width: 24%;
    margin-left: -12%;
    background: none;
    color: #3a3a3a;
    padding: 15px 40px;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    border: 7px solid #3a3a3a;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,1);

}
.mainButton a{
    position: relative;
    z-index: 9999;
    color: #3a3a3a;
    line-height: 30px;
    font-size: 30px;
    font-weight: 600;
}


.mainButton span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #CCE361;
    opacity: 0.4;

    z-index: 10;
}
.mainButton:hover{
    transition: all 0.15s ease 0s;
    transform: scale3d(1.1, 1.1, 1);
}